*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
body{
    background-color: lightblue;
}
.katta{
    background-color: lightblue;
    border-radius: 24px; 
    width: 340px;
    height: 340px;
    margin: 0 auto;
    margin-top: 45px;
    border: 2px solid black;
    box-shadow: 3px 3px  8px 8px;
}
.S{
    color: yellow;
    font-size: 13px;
    text-align: center;
    
}
.hover{
    background-color: white;
    padding: 3px;
    border-radius: 13px;
    text-decoration: none;
    width: 222px;
    margin: 0 auto;
    margin-top: 28px;

}
p{
    
}
